@model List<Category>


<h1>Category List</h1>

<a class="btn btn-primary" asp-controller="Category" asp-action="Create">
    <i class="bi bi-calendar-plus"></i> Add Product
</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>DisplayOrder</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.Name</td>
            <td>@item.DisplayOrder</td>
            <td>
                <div class="w-50 btn-group" role="group">
                    <a asp-controller="Category" asp-route-id="@item.Id" asp-action="Edit" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>Edit
                    </a>
                    <a asp-controller="Category" asp-route-id="@item.Id" asp-action="Delete" class="btn btn-delete btn-danger mx-2">
                        <i class="bi bi-trash-fill"></i>Delete
                    </a>
                </div>
            </td>
        </tr>

    }




</table>