@model Schedule

<h3>Delete Event</h3>
<form method="post">
    <input asp-for="Id" hidden/>
    <div class="row">
        <div class="col-6">
            <label asp-for="Name" class="text-dark"> </label>
            <input type="text" asp-for="Name" disabled class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label asp-for="Date"></label>
            <input type="date" asp-for="Date" disabled class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

    </div>

    <div class="row" style="margin-bottom:10px">
        <div class="col-6">
            <label asp-for="Comment"></label>
            <input type="text" asp-for="Comment" disabled class="form-control" />
        </div>

    </div>

    <div>
        <button type="submit" class="btn btn-primary text-bg-danger" style="width:150px"> Delete </button>
        <a asp-action="Index" class="bg-light btn btn-primary text-black" style="width:150px">
            Return
        </a>
    </div>
</form>