@model ModelsF.ModelsVM.ProductVM

<h3>@(Model.Product.Id is 0 ? "Add" : "Update") Product</h3>

<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageUrl" hidden />
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col-12">
                    <label asp-for="Product.Title" class="text-dark">Title</label>
                    <input type="text" asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label asp-for="Product.Description">Description</label>
                    <textarea type="text" asp-for="Product.Description" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label asp-for="Product.ISBN" class="text-dark">ISBN</label>
                    <input type="text" asp-for="Product.ISBN" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="Product.Author" class="text-dark">Author</label>
                    <input type="text" asp-for="Product.Author" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label asp-for="Product.ListPrice" class="text-dark">List Price</label>
                    <input type="number" asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="Product.Price" class="text-dark">Price for 1-50</label>
                    <input type="number" asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="Product.Price50" class="text-dark">Price for 50+</label>
                    <input type="number" asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="Product.Price100" class="text-dark">Price for 100+</label>
                    <input type="number" asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>                
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <label asp-for="Product.CategoryId" class="text-dark">Category</label>
                    <Select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="text-dark form-control">
                        <option disabled selected>--Select Category--</option>
                    </Select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="Product.ImageUrl" class="text-dark">ImageUrl</label>
                    <input type="file" name="file" class="form-control" />
                </div>

            </div>
        </div>
        <div class="col-2">
            <img src="@Model.Product.ImageUrl" width="100%" />

        </div>
    </div>

    <div class="mt-4">
        @if (Model.Product.Id is 0)
        {
            <button type="submit" class="btn btn-primary" style="width:150px"> Add </button>

        }
        else
        {
            <button type="submit" class="btn btn-primary" style="width:150px"> Update</button>

        }
        <a asp-action="Index" class="bg-light btn btn-primary text-black" style="width:150px">
            Return
        </a>

    </div>
</form>


@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}